{"prefix": "g.", "specialRoles": ["id do primeiro cargo especial (patrocinador, vencedor de eventos, etc)", "id do segundo cargo especial", "..."], "gameRole": "id do cargo de jogos", "guild": "id do único server em que o bot vai funcionar", "owners":["id do primeiro dono", "id do segundo dono", "..."], "defaultOnlyChannels": ["nome do primeiro canal em que o bot pode falar", "nome do segundo canal", "remover esta array do config fará com que os comandos que não têm permissões especificadas funcionem em todos os canais."]}