{"prefix": "g.", "sponsorsRole":"id do cargo de patrocinadores", "gameRole": "id do cargo de jogos", "guild": "id do único server em que o bot vai funcionar", "owners":["id do primeiro dono", "id do segundo dono"]}