{"prefix": "g.", "specialRoles": ["id do primeiro cargo especial (patrocinador, vencedor de eventos, etc)", "id do segundo cargo especial", "..."], "gameRole": "id do cargo de jogos", "guild": "id do único server em que o bot vai funcionar", "owners":["id do primeiro dono", "id do segundo dono", "..."]}